[submodule "dot-config/nvim"]
	path = nvim
	url = git@github.com:noamkadosh/nvim.git
	branch = main
	update = rebase
[submodule "dot-config/zellij/statusbar"]
	path = zellij-statusbar
	url = git@github.com:noamkadosh/statusbar.git
	branch = main
	update = rebase
[submodule "dot-config/obsidian"]
	path = obsidian
	url = git@github.com:noamkadosh/obsidian.git
	branch = main
	update = rebase
[submodule "dot-config/keyboard"]
	path = keyboard
	url = git@github.com:noamkadosh/keyboard.git
[submodule "ai"]
	path = ai
	url = git@github.com:noamkadosh/ai-stack.git
